label {
  width: 250px;
  text-align: center;
  margin: 10px auto;
  font-family: "Merienda One", cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  color: #17a2b8;
}

ul {
  list-style-type: none;
  font-size: 22px;
  margin: 8px auto;
  padding-left: 20px;
  color: #5a6275;
}
li:first-letter {
  text-transform: capitalize;
}
h1 {
  font-size: 70px;
  color: #5a6275;
  text-align: left;
  font-weight: 500;
  padding-left: 20px;
}

h4 {
  font-family: "Poppins", sans-serif;
  color: #17a2b8;
  font-weight: bolder;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #5a6275;
  cursor: default;
}
.active {
  color: #5a6275;
}

p.gitlink {
  position: relative;
  left: -75px;
  margin-top: 20px;
}
.container {
  margin-top: 20px;
}

.card {
  position: relative;
  right: 100px;
  width: 900px;
  border-radius: 20px;
  background: linear-gradient(211deg, #b2e5e559 8.54%, #ad9cd7 95.04%);
  border-color: white;
}
#icon {
  width: 120px;
  margin: 30px auto 0 10px;
  display: block;
}

.col-2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.col-12 {
  text-align: center;
  margin-top: 15px;
}

#temperature {
  display: inline;
}

#details {
  text-align: left;
  padding-left: 35px;
}
.units {
  font-size: 19px;
  text-decoration: none;
  position: relative;
  top: -34px;
  font-weight: 400;
}

.weather-forecast {
  margin-top: 40px;
}
.weather-forecast-date {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #5a6275;

  line-height: 1.2;
  font-size: 20px;
}
.weather-forecast-temp {
  margin-top: 0;
  margin-bottom: 1rem;
}

.day {
  font-weight: 700;
}
.night {
  font-weight: 600;
  opacity: 70%;
}
