label {
  width: 250px;
  text-align: center;
  margin: 10px auto;
  font-family: "Merienda One", cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  color: #17a2b8;
}
ul {
  list-style-type: none;
  font-size: 22px;
  margin: 8px auto;
  padding-left: 14px;
  color: #5a6275;
}
h1 {
  font-size: 70px;
  color: #5a6275;
  text-align: center;
  font-weight: 500;
}

h4 {
  font-family: "Poppins", sans-serif;
  color: #17a2b8;
  font-weight: bolder;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}
p.gitlink {
  position: relative;
  left: -75px;
  margin-top: 20px;
}
.container {
  margin-top: 20px;
}

.card {
  position: relative;
  right: 100px;
  width: 800px;
  border-radius: 20px;
}

.main-image {
  display: block;
  margin: 30px auto 0 10px;
  width: 150px;
}

.col {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.col-12 {
  text-align: center;
  margin-top: 15px;
}

#temperature {
  display: inline;
}
.col-4 {
  text-align: center;
}
#details {
  text-align: left;
  padding-left: 35px;
}
.units {
  font-size: 19px;

  text-decoration: none;
  position: relative;
  top: -34px;
  font-weight: 400;
}
